# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.c
*.cmake
*.bin
*.iml
*.xml
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.check_cache
cmake-build-debug/CMakeFiles/Makefile2
*.make
cmake-build-debug/CMakeFiles/POO_Set.dir/link.txt
*.marks
*.cbp
cmake-build-debug/POO_Set
cmake-build-debug/Makefile
cmake-build-debug/CMakeFiles/TargetDirectories.txt
*.internal
cmake-build-debug/CMakeFiles/POO_Set.dir/CXX.includecache
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
.idea/.name
CMakeLists.txt
cmake-build-debug/CMakeFiles/Progress/2
cmake-build-debug/CMakeFiles/Progress/count.txt
